body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.third-text-color{
    margin-bottom: 45px;
    font-size: 15px;
}
h1{
    font-size: 50px;
    text-align: justify;
    font-weight: 800;
}
.second-h1{
    font-size: 40px;
    color: gray;
}
.third-h1{
    margin-left: 640px;
    font-size: 40px;
}
.first-text-color{
    color: gray;
}
.first-image{
    margin-left: 133px;
}
.second-image{
    background-repeat: no-repeat;
    width: 350px;
    height: auto;
}
.order-button{
    text-decoration: none;
    color: white;
    background: linear-gradient(lightsalmon,tomato);
    padding: 15px 15px;
    border-radius: 20px;
}
.first-section{
   display: flex;
   padding-left: 5%;
   margin-top: 80px;
}

.first-article{
    margin-top: 150px;
}


.second-text-color{
    color: orange;
}
.third-text-color{
 color: gray;
}

.second-section{
    background: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-left: 260px;
    padding-top: 70px;
    margin-top: 80px;
}

.second-article{
    margin-left: 288px;
    margin-top: 55px;
}

.second-paragraph-tag{
 text-align: left;
 margin-bottom: 80px;
}

.contact-button{
    text-decoration: none;
    color: white;
    background: linear-gradient(lightsalmon,tomato);
    padding: 11px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
}


.third-article{
text-align: center;
margin-bottom: 30px;
}

.photos-parent{
 display: flex;
}

.food-picture{
    height: 300px;
    width: 20%;
}

.food-picture1{
    height: 300px;
    width: 20%;
}

.food-picture2{
    height: 300px;
    width: 20%;
    margin-left: 180px;
}

.recipes-item{
    width: 30%;
    height: auto;
    padding-left: 1%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 38px gray;
    border-radius: 30px;
}

.recipies-img{
    width: 322px;
    padding-top: 3%;
    height: auto;
}

.third-section{
    margin-bottom: 125px;
}
.fourth-section{
   display: flex;
   box-shadow: 5px 5px 35px gray;
   border-radius: 20px;
   margin-left: 5%;
   margin-right: 5%;
}
.social-media-parents{
    width: 33.33%;
    display: flex;
}


.social-media{
margin-left: 34%;
}

.social-media1{
    margin-left: 338px;
}
.social-media2{
    margin-left: 324px;
}